body{

    background-color: lightcoral;
}

li{

display: inline-block;
background-color: blueviolet;
padding: 10px;
font-weight: 300;

}


h1{
background-color: rgb(43, 214, 226); 
color: #ffffff; 
width: 100%;
}

#p{
color: red;
font-size: 30px;
font-family: cursive;
font-weight: bold;




}